<header>
  <h1>
    Welcome to Gill's Aquarium, <%= current_user.email %>
  </h1>
  <h2>
    The Aquarium is built on Rails <%= Rails.version %>
  </h2>
</header>
<section>
  <p>
    This is the future home of the Aquarium Dashboard.
  </p>
</section>
